<div class="row justify-content-center">
  <div class="col-4 text-center">
    <%= form_with(model: custodian, local: true) do |form| %>
  <% if custodian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custodian.errors.count, "error") %> prohibited this custodian from being saved:</h2>

      <ul>
        <% custodian.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :custodian_name %>
    <%= form.text_field :custodian_name %>
  </div>  
  <%= form.hidden_field :custodian_order, :value => @count+1 %>
  <%= form.hidden_field :child_id, :value => @child.id %>



  <div class="actions">
    <%= form.submit "Add Guardian", class: "btn btn-primary" %>
  </div>
<% end %>

  </div>
</div>

